.menu, .your-order {
    display: flex;
    flex-direction: column;
}

.your-order {
    position: fixed;
    right: 0;
}

.remove-button {
    background-color: transparent;
    border: none;
}

.total {
    font-weight: bold;
}

.placing-order {
    width: 64px;
    height: 64px;
}

.td {
    vertical-align: middle;
}